# Ignore these files on everything EXCEPT Windows
{{- if ne .chezmoi.os "windows" }}
AppData/
Documents/
Documents/PowerShell/
{{- end }}

# Ignore Linux/Pi specific configs when on Windows
{{- if eq .chezmoi.os "windows" }}
.bash_profile
.bashrc
.inputrc
{{- end }}
